<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hmoe</title>
</head>

<body>
    
     <div class="btn-group " role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-success ">Français</button>
        <button type="button" class="btn btn-success ">English</button>
        <button type="button" class="btn btn-success ">Espanol</button>
    </div> 
    <div><h1>Bonjour, ça va !</h1></div>
</body>

</html>